<link rel="stylesheet" href="static/css/waiter.css">

<div ng-controller="Waiter" ng-click="autofocus()" class="fullWindow">
	<div class="header">
		<div class="menu-table">
			<div class="menu-item buckutt">BuckUTT</div>
		</div>
	</div>

	<div class="fullWindow">
		<br />
		<h2 class="text-center"><strong>En attente d'une carte étu !</strong></h2>
		<form>
			<input type="text" ng-enter="pressEnter()" ng-model="cardId" id="cardId" class="hiddenElement" focus-me="cardIdFocus"/>
		</form>
	</div>
</div>