<link rel="stylesheet" href="static/css/buy.css">

<div ng-controller="Buy" class="fullWindow">
	<div class="header">
		<div class="left menu-table">
			<div class="menu-item buckutt">BuckUTT</div>
			<div class="menu-item" ng-class="{active: isActive(category)}" ng-repeat="category in categories">
				<a href="" ng-click="switchCategory(category.id)">{{ category.name }}</a>
			</div>
		</div>
		<div class="right menu-icons">
			<a href="" ng-if="!cartSent" ng-click="logout()" class="logout">
				<i class="glyphicon glyphicon-eject"></i>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="content fullWindow">
		<div class="buyer">
			<div class="buyer-profile">
				<div class="buyer-image">
					<img src="static/images/users/{{buyer.id}}.jpg?1" alt="Buyer pic"/>
				</div>
				<div class="buyer-infos">
					<strong class="buyer-name">{{ buyer.firstname }} {{ buyer.lastname }}</strong><br />
					<small class="buyer-surname">{{ buyer.nickname }}</small><br />
					<span class="buyer-credit">{{ (buyer.credit/100).toFixed(2) }} €</span>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="buyer-cart">
				<div class="buyer-item" ng-repeat="item in cart">
					<div class="buyer-item-inner">
						<div class="item-remove">
							<a href="" ng-click="deleteProduct(item, 1)">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</div>
						<div class="item-count">
							{{ item.quantity }}
						</div>
						<div class="item-name">
							{{ item.product.name }}
							<div class="item-promo-content-name" ng-repeat="promoProduct in item.content track by $index">{{promoProduct.name}}</div>
						</div>
						<div class="item-price">
							{{ ((item.quantity*item.product.price).toFixed(2)/100).toFixed(2) }} €
						</div>
					</div>
				</div>
			</div>
			<div class="choice-send">
				<a href="" ng-click="sendCart()" ng-if="!cartSent"><i class="glyphicon glyphicon-ok"></i></a>
				<a href="" ng-if="cartSent"><i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i></a>
			</div>
		</div><!-- @whitespace
		--><div class="choices">
			<a href="" class="choice" ng-click="addProduct(product)" ng-repeat="product in actualProducts">
				<div class="choice-inner">
					<div class="item-icon"><img ng-src="static/images/products/{{ product.obj_id }}.png" alt="{{ product.obj_name }}"></div>
					<div class="item-infos">
						<div class="item-name">
							{{ product.name }}
						</div>
						<div class="item-price">
							{{ (product.price/100).toFixed(2) }} €
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>