html, body {
    background-color: #ededed;
    font-family: 'RobotoSlab', sans-serif;
    font-size: 15px;
    height:100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
    font-weight: 300;
}

#modalError {
    z-index: 1051;
}

.modal-content {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.hiddenElement {
	opacity:0;
}

.container-fluid {
	height:100%;
}

.fullWindow {
	width:100%;
	height:100%;
}

/* Fonts */
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/robotoSlab/robotoslab-light-webfont.eot');
    src: url('../fonts/robotoSlab/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoSlab/robotoslab-light-webfont.woff') format('woff'),
         url('../fonts/robotoSlab/robotoslab-light-webfont.ttf') format('truetype'),
         url('../fonts/robotoSlab/robotoslab-light-webfont.svg#RobotoSlab') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;

    src: url('../fonts/lato/lato-black.eot');
    src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype'), url('../fonts/lato/lato-black.svg#latoblack') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;

    src: url('../fonts/lato/lato-bold.eot');
    src: url('../fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold.woff') format('woff'), url('../fonts/lato/lato-bold.ttf') format('truetype'), url('../fonts/lato/lato-bold.svg#latobold') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: bold;

    src: url('../fonts/lato/lato-bolditalic.eot');
    src: url('../fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic.woff') format('woff'), url('../fonts/lato/lato-bolditalic.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: normal;

    src: url('../fonts/lato/lato-italic.eot');
    src: url('../fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic.woff') format('woff'), url('../fonts/lato/lato-italic.ttf') format('truetype'), url('../fonts/lato/lato-italic.svg#latoitalic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;

    src: url('../fonts/lato/lato-light.eot');
    src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light.woff') format('woff'), url('../fonts/lato/lato-light.ttf') format('truetype'), url('../fonts/lato/lato-light.svg#latolight') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;

    src: url('../fonts/lato/lato-regular.eot');
    src: url('../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular.woff') format('woff'), url('../fonts/lato/lato-regular.ttf') format('truetype'), url('../fonts/lato/lato-regular.svg#latoregular') format('svg');
}
