buckutt.constant("config", {
	"user": {
		"minCredit": 0,
		"maxCredit": 10000
	},
	"cartSize": 50,
	"groupsRules": [
		{
			"field": "GroupId",
			"condition": "equals",
			"value": 1,
			"display": "BDE"
		}
	],
	"payRule": {
		"condition": "startsWith",
		"value": "Ventes pay - "
	}
});